<nav class="bottom-menu">
  <a href="index.html" class="menu-item">
    <img src="../images/icons/home.png" alt="Início">
    <span>Início</span>
  </a>
  <a href="orders.html" class="menu-item">
    <img src="../images/icons/orders.png" alt="Pedidos">
    <span>Pedidos</span>
  </a>
  <a href="cart.html" class="menu-item">
    <img src="../images/icons/cart.png" alt="Carrinho">
    <span>Carrinho</span>
  </a>
  <a href="profile.html" class="menu-item">
    <img src="../images/icons/profile.png" alt="Perfil">
    <span>Perfil</span>
  </a>
</nav>
